<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Tarefas - Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gerenciador de tarefas</a>
    </nav>
    <div class="container">
        <h3>Login</h3>
        <div action="/login" method="post" class="form-signin">
            <div class="form-group">
                <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="E-mail" name="email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9">
                    <input type="password" class="form-control" placeholder="Senha" name="senha"/>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="form-group">
                <div class="col-md-9">
                    <div class="alert alert-danger" role="alert" th:if="${param.error}">
                        Não foi possível fazer o login
                    </div>
                </div>
            </div>
            <div class="form-group">
                <span>Não Possui Conta? <a href="/registration">Registre-se aqui</a> </span>
            </div>

        </form>
    </div>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>